*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}

/*header*/
.bloc-header{
	background: #d73351;
	display:flex;
	justify-content: space-evenly;
	color: white;

}

#menu
{
	font-size:18px;
	font-weight:normal;
	background: #d73351;
}
 
#menu > ul
{
	margin:0;
	padding:0;
	list-style: none;
	display: flex;
}
 
#menu ul li
{
	cursor:pointer;
	padding:5px 8px;
	list-style: none;
}
 
#menu ul li:hover
{
	background-color:#FC0505;
	color:white;
}
 
#hamburger
{
	display:none;
	width: 50px;
	height:50px;
	text-align:center;
}
 #hamburger-img{
	margin-top: 20px;
	cursor: pointer;
 }
 
 .titre1{
		margin-top: 15px;
 }
 /*media queries header*/
 
@media screen and (max-width: 750px){
 
#menu
{
	display: none;
	position: absolute;
	top: 60px;
	width: 100%;
}

#hamburger
{
  display:block;
}
 .bloc-header{
	background: #d73351;
	display:flex;
	justify-content: space-around;
	color: white;
 }
 ul{
	flex-direction: column;
 }
 .li{
	padding-left: 15px;
	width: 100%;
 }
}

/*section-1*/

.presentation-desktop{
	display: none;
}
.section-1bis{
	background: url(img/faux-slider.jpg);
	background-size: cover;
	height: 100%;
	display: flex;
}

.presentation{
	color: white;
	width: 100%;
}

.presentation > h3{
	font-size: 50px;
	margin: auto;
	padding: 20px;

}

.presentation > p{
	font-size: 18px;
	margin: auto;
	padding: 20px;
}

.section-1bis > img{
	margin: auto;
	padding: 50px;
}

.bla{
	background: black;
	color: white;
	text-align: center;
	font-size: 18px;s
}


/*media queries section 1*/

@media screen and (min-width: 750px){
	.presentation {
		display: none;
		
	}
	
	.section-1bis{
		flex-direction: row-reverse;
		background: url(img/faux-slider.jpg);
		background-size: cover;
		height: 100%;
	}
	
	.casse-bonbon{
		display: flex;
		flex-direction: column-reverse;
	}
	
	.presentation-desktop{
		display: block;
		color: white;
		font-size: 18px;
		margin: 100px;
		width: 800px;
		margin: auto;
	}
	.presentation-desktop > h3, p{
		display: inline;	
	}	
}

/*section produits*/
.choix{
	height: 400px;
	display: block;
}
.catalogue{
	display: flex;
	justify-content: space-around;
	
}
.choix > h2{
	text-align: center;
	margin-bottom: 50px;
	font-size: 45px;
	margin-top: 50px;
}
 
	.ptxt{
		margin-left: 80px;
		color: green;
		font-size: 25px;
	}
	
	.btxt{
		margin-left: 80px;
		color: #D3D317;
		font-size: 25px;
	}
	
	.ftxt{
		margin-left: 80px;
		color: red;
		font-size: 25px;
	}
/*media queries prduits*/
	
@media screen and (max-width: 750px){
	.choix{
		display: none;
	}
}

@media screen and (max-width: 750px){
		#reverse {
		text-align: right;
		}
		}
		
		@media screen and (min-width: 750px){
		
		.container{
		display: flex;
		justify-content: space-around;
		width: 100%;
		}
		
		.element{
		flex-direction: column;
		text-align: center;
		width: 250px;
		justify-content: space-around;
		margin-bottom: 50px;
		margin-top: 50px;
		}

		#reverse{
		flex-direction:column-reverse;
		}

		.contact  p{
			padding-bottom: 20px;
		}

}

.container {
background-color: #E7E7E7;
}

.element {
display: flex;
padding: 10px;
align-items: center;
height: 200px;

}

.container > element > img {
height: 135px;
width: 145px;
}

.container > div > p{
padding-top: 60px;

}

/*-------------------------------------------------------*/


.footer {
background-color: #D73351;
width: 100%;
display:flex;
justify-content: space-between;
height: 80px;
}

footer > div > img {
height: 25px;
width: 25px;
}

.contact {
display: flex;
padding-top: 35%;
padding-left: 8%;
}


footer > div > p{
color: white;
font-weight: bold;
padding-left:10px;
}

.logo {
display: flex;
padding-top: 35%;
padding-right: 8%;
}

/*-------------------------------------------------------*/

.copyright {
text-align : center;
font-size: 12px;
display: none;
}

@media screen and (max-width: 750px){
		.copyright{
			display: block;
			padding: 10px;
		}
}

